<html>
<head>
<title>D:\uploadedFiles\4322719cbcd0fb568576d16ab7f17de2-23db2a634f136f8\p1gmvffggc134ato31df13a1tg74.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 20.4px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1170:827" src="page_001.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_100:243" style="top:243;left:100">
<span id="_16.0" style="font-weight:bold; font-family:Arial; font-size:16.0px; color:#000000">
NAME OF PATIENT: </span>
</div>
<div class="pos" id="_100:278" style="top:278;left:100">
<span id="_16.0" style="font-weight:bold; font-family:Arial; font-size:16.0px; color:#000000">
DATE OF EXAM: </span>
</div>
<div class="pos" id="_100:313" style="top:313;left:100">
<span id="_16.0" style="font-weight:bold; font-family:Arial; font-size:16.0px; color:#000000">
DATE OF BIRTH:</span>
</div>
<div class="pos" id="_100:348" style="top:348;left:100">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
REF BY: </span>
</div>
<div class="pos" id="_100:384" style="top:384;left:100">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
ULTRASOUND SCAN: BOTH BREASTS</span>
</div>
<div class="pos" id="_100:422" style="top:422;left:100">
<span id="_15.4" style="font-weight:bold; font-family:Arial; font-size:15.4px; color:#000000">
HISTORY: <span style="font-style:italic"> PAINFUL BREASTS</span></span>
</div>
<div class="pos" id="_100:499" style="top:499;left:100">
<span id="_15.4" style=" font-family:Arial; font-size:15.4px; color:#000000">
Both breasts have normal fibroglandular tissue with no focal solid or cystic masses </span>
</div>
<div class="pos" id="_100:523" style="top:523;left:100">
<span id="_15.4" style=" font-family:Arial; font-size:15.4px; color:#000000">
noted.  Both areolae and nipples are normal.  There are no distended mammary ducts </span>
</div>
<div class="pos" id="_100:548" style="top:548;left:100">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
noted.  </span>
</div>
<div class="pos" id="_100:586" style="top:586;left:100">
<span id="_15.5" style=" font-family:Arial; font-size:15.5px; color:#000000">
Both axillae are normal, there are no enlarged lymph nodes.  </span>
</div>
<div class="pos" id="_100:624" style="top:624;left:100">
<span id="_15.5" style=" font-family:Arial; font-size:15.5px; color:#000000">
The pectoral muscle beds appear normal.</span>
</div>
<div class="pos" id="_100:701" style="top:701;left:100">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
COMMENT</span>
</div>
<div class="pos" id="_100:740" style="top:740;left:100">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
No suspicious breast masses noted.  No axillary lymphadenopathy noted. </span>
</div>
<div class="pos" id="_100:816" style="top:816;left:100">
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
MR T.H.PEDZISAI</span>
</div>
<div class="pos" id="_100:838" style="top:838;left:100">
<span id="_15.5" style="font-weight:bold; font-family:Arial; font-size:15.5px; color:#000000">
B.Sc. Hons Rad(NUST), DMU (zim)</span>
</div>
<div class="pos" id="_100:859" style="top:859;left:100">
<span id="_14.5" style="font-weight:bold; font-family:Arial; font-size:14.5px; color:#000000">
ULTRASONOGRAPHER</span>
</div>
</nowrap></nobr>
</body>
</html>
