<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ffd</title>
</head>
<body>
<p>NAME OF PATIENT:</p>
<p>DATE OF EXAM:</p>
<p>DATE OF BIRTH:</p>
<p>REF BY:</p> 

<p>HISTORY:  Abdominal pain</p>
<p>USS ABDOMEN</p>
<P>The liver is normal in size, position, outline and echotexture with no focal lesions seen. No intra or extra hepatic biliary dilatation was seen.  The gallbladder is well distended with echo free contents and has smooth mucosal outline.  The pancreas is normal in size, position and echotexture with no focal lesions or pseudo cysts seen.  The spleen is normal in size (10.7cm), position and echotexture with an intact capsule.  No focal splenic lesions were seen.  No pleural effusion or subphrenic collections were seen bilaterally.  The aorta and the IVC are patent and appear normal.  
Both kidneys are normal in size (bi-polar length right kidney 9.5cm, left kidney 9.4cm), position and echotexture with maintenance of the corticomedullary differentiation.  No hydronephrosis or nephrolithiasis or sonographic signs of pyelonephritis were seen bilaterally.  No abnormal intra abdominal free fluid collections or masses or retroperitoneal lymphadenopathy was seen.  The urinary bladder was well distended with echo free contents and has a smooth mucosal outline.</P>

<p>COMMENT</p>
<p>	No focal hepatic or splenic or pancreatic lesions or abdominal ascites or retroperitoneal lymphadenopathy seen.</p>

<p>MR T.H.PEDZISAI</p>
<p>B.Sc. Hons Rad(Nust), DMU (zim)</p>
<p>ULTRASONOGRAPHER</p>

</body>
</html>